html {
  box-sizing: border-box;
  overflow-y: scroll;
  zoom: 125%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  font-family: 'Roboto Condensed', sans-serif;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}


main {
  width: 450px;
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding-top: 140px;
  padding-bottom: 40px;
}