#nav-bar {
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  background-color : #00a087;
  color: #e8fdff;
  position: fixed;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  vertical-align: bottom;
  padding-left: 10px;
  font-size: 2rem;
  line-height: 86px;
}

.button {
  float: right;
  width: 115px;
  height: 60px;
  margin-top: 9px;
  background-color: #e2fff5;
  border-color: black;
  border-width: 1.5px;
  border-radius: 5px;
  font-size:1.2em;
  cursor: pointer;
  outline: 0;
}

.button:hover {
  background-color: white;
}

.button #icon {
  color: #52a187;
}

.button:hover #icon {
  color: black;
}

.button .compose {
  font-weight: 600;
  color: #52a187;
}
.button:hover .compose {
  color: black;
}