.new-tweet {
  background-color: #eeeeef;
  border-color: #dcdcdc;
  border-radius: 5px;
  height:170px;
  margin-left: 2em;
  margin-right: 2em;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.5em;
}

.new-tweet .text {
  resize: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 370px;
  height: 70px;
}

.new-tweet input {
  margin-left: 0.5em;
}

.new-tweet .counter {
  margin-left: 17.5em;
}