.tweet-container {
  opacity: 0.8;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
  background: linear-gradient(to bottom, #eeeeef 33%, white 33%);
  border-radius: 5px;
  height: 200px;
  padding: 10px 10px 5px 10px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  word-wrap: break-word;
  position: relative;
}

.tweet-container:hover {
  opacity: 1;
  border-style: solid;
  border-width: thin;
  border-color: #657f87;
}

.tweet-container #profile-picture {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}

.tweet-container .user-name {
  position: absolute;
  bottom: 140px;
  left: 65px;
}

.tweet-container .user-handle {
  position: absolute;
  top: 15px;
  right: 10px;
  float: right;
  font-size: 80%;
  }

.tweet-container .tweet {
  position: absolute;
  top: 80px;
  right: 10px;
  left:10px;

}

.tweet-container .horizontal-line {
   position: absolute;
   bottom: 10px;
   right: 0px;
   width: 100%;
   height: 1px;
   background: #d4d4d4;

}

.tweet-container .age {
  position: absolute;
  font-size: 80%;
  bottom: 5px;
  left: 10px;
  }

.tweet-container #like {
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 80%;
  color: #52a187;
  display: none;
}

.tweet-container #retweet {
  position: absolute;
  bottom: 6px;
  right: 30px;
  font-size: 80%;
  color: #52a187;
  display: none;
}

.tweet-container #flag {
  position: absolute;
  bottom: 6px;
  right: 50px;
  font-size: 80%;
  color: #52a187;
  display: none;
}

.tweet-container:hover #flag, .tweet-container:hover #retweet, .tweet-container:hover #like {
  display: block;
}


