.tweet-container {
  opacity: 0.8;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
  background: linear-gradient(to bottom, #eeeeef 35%, white 35%);
  border-radius: 5px;
  height:180px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  position: relative;
}

.tweet-footer {
  opacity: 1 !important;
}

.tweet-container:hover {
  opacity: 1;
  border-style: solid;
  border-width: thin;
  border-color: #657f87;
  background: linear-gradient(to bottom, #eeeeef 35%, white 35%);
  border-radius: 5px;
  height:180px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  position: relative;
}

.tweet-container #profile-picture {
  height: 45px;
  width: 45px;
  border-radius: 5px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  position: absolute;
}

.tweet-container .user-name {
  margin-left: 60px;
  margin-top: 5px;
  position: absolute;

}

.tweet-container .user-handle {
  top: 10px;
  right: 5px;
  font-size: 80%;
  position: absolute;
}

.tweet-container .tweet {

  margin-top: 80px;
  margin-left: 15px;
  margin-right: 10px;
  /*word-wrap: break-word;*/
  white-space: pre-line;
  position: absolute;
}

.horizontal-line {
 bottom: 12px;
 width: 100%;
 height: 1px;
 background: #d4d4d4;
 position: absolute;

}

.tweet-container .age {
  left: 5px;
  bottom: 7px;
  font-size: 80%;
  position: absolute;
}

.tweet-container #flag {
  right: 45px;
  bottom: 7px;
  font-size: 80%;
  position: absolute;
  display: none;
}

.tweet-container #retweet {
  right: 25px;
  bottom: 7px;
  font-size: 80%;
  position: absolute;
  display: none;
}

.tweet-container #like {
  right: 5px;
  bottom: 7px;
  font-size: 80%;
  position: absolute;
  display: none;
}

.tweet-container:hover #flag, .tweet-container:hover #retweet, .tweet-container:hover #like {
  display: block;
}


